/* Main Table Style */
.heading {
    background-color: #f1f1f1;
    font-weight: bold;
    color: black;
   }
   
   .tabledata {
    background-color: #ffffff;
    color: red;
   }
   
   /* Row Styling */
   tr:nth-child(even) {
    background-color: #f2f2f2;
   }
   
   /* Cell Styling */
   td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
   }
   
   /* Responsive Table Design */
   @media screen and (max-width: 100px) {
    table {
       width: 60%;
       display: block;
       overflow-x: auto;
    }
   
    .tabledata, .heading {
       display: table;
       width: 60%;
    }
   }